hr {
  background: white;
}
footer {
  width: 100%;
  background-color: #ef7f1a;
  padding: 15px;
}
footer > .footer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer > .footer-wrapper > .box {
  margin-right: 10px;
  margin-bottom: 10px;
}
footer > .footer-wrapper > .box > ul {
  /* background-color: #fff; */
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer > .footer-wrapper > .box > ul > li {
  margin-bottom: 10px;
  text-align: center;
  /* display: block; */
  transition: 0.5ms;
}
footer > .footer-wrapper > .box > ul > li:hover {
  /* background-color: #cc7a32; */
  /* padding: 10px; */
}
footer > .footer-wrapper > .box > ul > li.hover a {
  color: white;
}
footer > .footer-wrapper > .box > ul > li > a {
  text-transform: capitalize;
  /* font-size: 30px; */
}
/* media queries  */
@media (max-width: 430px) {
  footer {
    padding: 0;
    padding-top: 10px;
  }
  footer > .footer-wrapper > .box {
    border-bottom: 0.3px solid black;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
