a {
  text-transform: capitalize;
  transition: all 1s;
  color: white;
}
a:hover {
  text-decoration: underline;
  /* opacity: 0.8; */
  text-align: left !important;
  color: var(--primary);
}
hr {
  background: white;
}
footer {
  width: 100%;
  background-color: var(--fondo);
  padding: 15px;
  margin: 10px 0px 0px 0px;
}
footer > .footer-wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
footer > .footer-wrapper > .box {
  /* margin-right: 10px;
  
  margin-bottom: 10px; */
}
footer > .footer-wrapper > .box > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer > .footer-wrapper > .box > ul > li {
  margin-bottom: 10px;
  text-align: left;
  transition: 0.5ms;
}

/* media queries  */
@media (max-width: 430px) {
  footer {
    padding: 10px 0px 5px 15px;
  }
  footer > .footer-wrapper > .box {
    border-bottom: 0.3px solid black;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  footer > .footer-wrapper > .box:last-child {
    border-bottom: none;
  }
}
