<div class="profiles">
  <section class="profiles-content">
    <div
      id="profile-user"
      class="profile-user"
      *ngFor="let profil of profils"
      (click)="ShowHome(profil)"
    >
      <img class="" src="../../assets/img/user.png" alt="" />
      <div class="profile-username">
        <h5 class="username">{{ profil.name }}</h5>
      </div>
    </div>
    <!-- <i class="fas fa-user-edit"></i> -->
  </section>
  <div class="manage-profile">
    <a
      class="btn-manage-profile"
      aria-label="MANAGE PROFILES"
      href="/updateprofil"
    >
      MANAGE PROFILES
    </a>
  </div>
</div>
