.profiles {
  width: 100%;
  height: 100vh;
  background-color: var(--fondo) !important;
  margin: 0px auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.profiles-content {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.profile-user {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
  background: var(--primary);
  transition: all 1s;
  position: relative;
}
.profile-user:hover i {
  background: white;
  color: red !important;
}
/* .profile-user:hover {
  box-shadow: #343a40 3px 5px 43px, rgb(30, 34, 37) 7px 16px 27px;
  border-radius: 10px;
  transform: scale(1.25);
} */
.profile-user > img {
  width: 100px;
  border-radius: 5px;
  opacity: 0.6;
}
.profile-user .profile-username {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 25px !important;
  background-color: none !important;
  /* border: 05px solid var(--primary); */
  padding: 5px 5px;
  /* opacity: 0.5; */
}
.profile-username {
  text-align: center;
  color: white;
}

.manage-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -300px;
}
.manage-profile .btn-manage-profile {
  width: auto;
  padding: 10px 20px;
  background: linear-gradient(
    to right top,
    var(--primary),
    white,
    var(--primary),
    white
  );
  border-radius: 4px;
  font-weight: bold;
  font-size: 25px;
}
i {
  position: absolute;
  font-size: 25px;
  padding: 10px;
  /* background: white; */
  border-radius: 50%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 50px;
  height: 50px;
  z-index: 5;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: all 1s;
  /* right: 29px; */
  transform: translate(50%, 0%);
}
i:hover {
  background: white;
  color: red !important;
}
.action {
  /* margin-top: 10px 0px; */
  background-color: #fff;
  text-align: center;
}
.action > a {
  font-weight: bold;
  text-transform: capitalize;
}
