<div id="profiles" class="profiles">
  <div class="title">
    <h1>Manage Perfil</h1>
  </div>
  <section class="profiles-content">
    <div
      id="profile-user"
      class="profile-user"
      *ngFor="let profil of profils"
      (click)="UpdateProfil(profil)"
    >
      <img class="" src="../../assets/img/user.png" alt="" />
      <div class="profile-username">
        <h5 class="username">{{ profil.name }}</h5>
        <i
          *ngIf="profil.passperfil !== null"
          class="fas fa-user-lock perfil-pass-perfil"
        ></i>
      </div>
      <!-- <div class="action">
        <a id="edit-user" href="#" data-id="4">edit</a>
      </div> -->
      <i id="edit" class="fas fa-user-edit edit"></i>
    </div>
  </section>
  <div class="manage-profile">
    <a class="btn-manage-profile" aria-label="MANAGE PROFILES" href="/perfil">
      Finish
    </a>
  </div>
</div>
<section class="modify">
  <div class="fill-data">
    <label>name</label>
    <input
      type="text"
      name="idprofil"
      [(ngModel)]="prof.idPerfil"
      id="idprofil"
      hidden
    />
    <input
      type="text"
      name="complete"
      [(ngModel)]="prof.complete"
      id="complete"
      hidden
    />
    <input
      type="text"
      name="profilname"
      [(ngModel)]="prof.name"
      id="name"
      (click)="hiddenErrorMessage('errorname')"
    />

    <span style="color: brown; display: none" id="errorname">
      You have to enter a profile name
    </span>
    <br />
    <label>Password</label>
    <input
      type="password"
      name="passperfil"
      (click)="hiddenErrorMessage('errorpassperfil')"
      [(ngModel)]="prof.passperfil"
      id="passperfil"
    />

    <span style="color: brown; display: none" id="errorpassperfil"
      >You have to enter a password</span
    >
  </div>
  <div class="action-update">
    <button class="btn-update btn-modify" (click)="Save()">Modify</button>
    <button class="btn-update btn-cancel" (click)="Cancel()">Cancel</button>
  </div>
</section>
