<div id="profiles" class="profiles">
  <section class="profiles-content">
    <div id="profile-user" class="profile-user">
      <img class="" src="../../assets/img/user.png" alt="" />
      <div class="profile-username">
        <h5 class="username">Hilaire</h5>
      </div>
      <div class="action">
        <a id="edit-user" href="#" data-id="4">edit</a>
      </div>
      <i id="edit" class="fas fa-user-edit"></i>
    </div>
    <div id="profile-user" class="profile-user">
      <img class="" src="../../assets/img/user.png" alt="" />
      <div class="profile-username">
        <h5 class="username">Hilaire</h5>
      </div>
      <div class="action">
        <a href="#">edit</a>
      </div>
      <i id="edit-user" class="fas fa-user-edit"></i>
    </div>
    <div id="profile-user" class="profile-user">
      <img class="" src="../../assets/img/user.png" alt="" />
      <div class="profile-username">
        <h5 class="username">Hilaire</h5>
      </div>
      <div class="action">
        <a href="#">edit</a>
      </div>
      <i id="edit-user" class="fas fa-user-edit"></i>
    </div>
  </section>
  <div class="manage-profile">
    <a class="btn-manage-profile" aria-label="MANAGE PROFILES" href="/perfil">
      Finish
    </a>
  </div>
</div>
<div
  id="modal"
  class="modal"
  style="background-color: aquamarine; padding: 10px"
>
  <div class="modal-content">
    <div class="modal-header">Hi</div>
    <div class="modal-body">body</div>
  </div>
</div>
