<div class="f1">
    <div class="container-fluid mx-auto">
        <div class="item  ph12  md4  i-b  v-middle" routerLink='/' style="cursor:pointer ">
            <h1 class="logo">SK</h1>
        </div>
        <div class="w-100 p-3">

            <div class="row justify-content-center mt-0">
                <div class="col-12 col-6 col-lg-6 text-center">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h1 class="lefacc">Account</h1>
                        <hr class="clearfix w-100">
                        <div class="row">
                            <div class="col-md-3 col-md-pull-9">
                                <header class="account-section-header collapsable-section-toggle">
                                    <h2 class="account-section-heading"> MEMBERSHIP AND BILLING
                                        <button class="btn account-cancel-button btn-plain btn-small" type="button" autocomplete="off" tabindex="0">
                                  <span>Cancel membership</span>
                                </button>
                                    </h2>
                                </header>
                            </div>
                            <div class="col-md-9 col-md-push-3">
                                <section class="collapsable-section-content account-section-content collapsable-section-content-visible">
                                    <div class="account-subsection clearfix">
                                        <div class="clearfix col-md-12">
                                            <div class="account-section-group1 col-md-4">
                                                <div class="account-section-item account-section-email">prade516@gmail.com</div>
                                                <div class="account-section-item account-section-item-disabled" style="margin-left: -1.9em;">Password:********</div>
                                                <div class="account-section-item account-section-item-disabled"></div>
                                            </div>
                                            <div class="account-section-group2 col-md-7">
                                                <div class="account-section-item"><a class="account-section-link" href="/email">Change email</a></div>
                                                <div class="account-section-item"><a class="account-section-link" href="/password">Change password</a></div>
                                                <div class="account-section-item"><a class="account-section-link" href="/phonenumber">Add phone number</a></div>
                                            </div>
                                        </div>
                                        <hr class="clearfix w-100">
                                    </div>
                                    <div class="account-subsection clearfix">
                                        <div>
                                            <div class="clearfix">
                                                <div class="account-section-group -wide">
                                                    <div class="account-section-item account-section-group1" data-uia="payment-subsection-top-content">
                                                        <div id="" class="account-section-item" style="position: relative;left: 2.7em;">Your next billing date is: <b> August 10, 2020</b>.</div>
                                                        <div class="payment-type">
                                                            <span class="icon-payment icon-payment-visa">
                                                            <span class="text-payment" style="margin-left: -3em;">
                                                              VISA
                                                            </span>
                                                            </span>
                                                            <span id="" class="mopType">
                                                            •••• •••• •••• 5867
                                                          </span></div>
                                                    </div>
                                                </div>
                                                <div class="account-section-group2 -thin" style="margin-right: 2em;">
                                                    <div class="account-section-item"><a data-uia="action-update-payment" class="account-section-link" href="/YourAccountPayment">Update payment information</a></div>
                                                    <div class="account-section-item"><a class="account-section-link" data-uia="action-billing-details" href="/BillingActivity">Billing information</a></div>
                                                    <div class="account-section-item"><a data-uia="action-update-billing-date" class="account-section-link" href="/simplemember/billingdateedit">Change billing day</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <hr class="clearfix w-100">
                        <div class="row">
                            <div class="col-md-3 col-md-pull-9">PLAN INFORMATION</div>
                            <div class="col-md-3 col-md-pull-9"><b>Premium</b></div>
                            <div class="col-md-6 col-md-pull-9"><a class="account-section-link linka" href="/ChangePlan">Change plan</a></div>
                        </div>
                        <hr class="clearfix w-100">
                    </div>
                </div>
            </div>

        </div>
    </div>
    