<section class="showcase">
  <header class="container">
    <img routerLink="/home" class="logo" src="../../assets/img/makaya.png" />
    <div class="menu-home-left-list">
      <ul>
        <li>
          <a routerLink="/home">home</a>
        </li>

        <li>
          <a href="#">Program</a>
        </li>
        <li>
          <a routerLink="/films">Film</a>
        </li>
        <li>
          <a routerLink="/my-list">My list</a>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <div class="icons-useful">
        <div class="search-box">
          <i id="icon-search-menu" class="fas fa-search icon-search-menu"></i>
          <form action="">
            <input
              type="text"
              class="search-film"
              id="search-film"
              placeholder="Titles,Author,Gender"
              name="search-film"
            />
          </form>
        </div>
        <div class="notifications">
          <i id="icon-notifications" class="fas fa-bell"></i>
          <div id="notifications-box" class="notifications-box">
            all notifications-box
          </div>
        </div>
      </div>
      <div class="menu-user">
        <div class="img-current-user">
          <div class="current-user">
            <img src="../../assets/img/user.png" alt="" />
            <i class="fas fa-angle-double-down"></i>
          </div>
          <div class="menu-container">
            <div class="profiles">
              <ul>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Hilaire</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Jean</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Pradel</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
              </ul>
              <p><a href=""> Manage Profiles</a></p>
            </div>
            <hr />

            <div class="links-useful">
              <ul>
                <li>
                  <a href="#"> account</a>
                </li>
                <li>
                  <a href="#"> Help</a>
                </li>
                <li>
                  <a href="#"> Log Out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <video loop autoplay src="{{videeprincipal}}"></video>
  <div class="overlay"></div>
  <div class="text">
    <!-- <h2>Never Stop To</h2> -->
    <h3>Film Name</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <button
      role="button"
      data-target="modal1"
      class="btn-play-principal play modal-trigger button-primary"
    >
      <i class="fas fa-play"></i>Play Movie
    </button>
    <button role="button" class="button-secondary">
      <i class="fas fa-info-circle"></i>More information
    </button>
    <div class="icones-volume-mute">
      <!-- <i class="fas fa-volume"></i> -->
      <i class="fas fa-volume-mute"></i>
      <i class="fas fa-volume-up" style="display: none"></i>
      <!-- <i class="fas fa-volume play-video-principal"></i>
        <i class="fas fa-volume-muted stop-video-principal"></i> -->
    </div>
  </div>
</section>
<div class="clear"></div>
