<app-menu02></app-menu02>

<div class="my-list-header container">
  <h1 class="title">My list</h1>
</div>
<div class="my-list-content container">
  <div class="my-list-grid">
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/6.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/7.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/5.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/4.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/3.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/2.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/6.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/7.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/2.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/2.png" alt="" />
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
    </div>
  </div>
</div>

<app-footer></app-footer>
