<app-menu02 [val]="'mw mwen'"></app-menu02>

<div class="films-header container">
  <div class="title-filter">
    <h1 class="title">Films</h1>
    <div class="films-filters">
      <form action="">
        <select name="params" id="params" class="select-film-filter">
          <option disabled value="">__choose__</option>
          <option value="">Popularity</option>
          <option value="">Gender</option>
          <option value="">Gender</option>
        </select>
      </form>
    </div>
  </div>
  <div class="right-side">no content right now</div>
</div>

<div class="films-content container">
  <div class="films-grid">
    <div class="pelicula tryinnn">
      <img src="../../assets/img/1.png" alt="" />
      <div class="pelicula-footer">
        <div class="fila-one">
          <i class="fas fa-play"></i>
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="fila-two">
          <span class="new-or-not">New</span>
          <span class="recomendation">70% for you</span>
          <span class="duration">1 h 30 mn</span>
        </div>
        <div class="fila-three">
          <ul>
            <li>Love</li>
            <li>comedy</li>
            <li>patient</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
      <div class="pelicula-footer">
        <div class="fila-one">
          <i class="fas fa-play"></i>
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="fila-two">
          <span class="new-or-not">New</span>
          <span class="recomendation">70% for you</span>
          <span class="duration">1 h 30 mn</span>
        </div>
        <div class="fila-three">
          <ul>
            <li>Love</li>
            <li>comedy</li>
            <li>patient</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
      <div class="pelicula-footer">
        <div class="fila-one">
          <i class="fas fa-play"></i>
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="fila-two">
          <span class="new-or-not">New</span>
          <span class="recomendation">70% for you</span>
          <span class="duration">1 h 30 mn</span>
        </div>
        <div class="fila-three">
          <ul>
            <li>Love</li>
            <li>comedy</li>
            <li>patient</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
      <div class="pelicula-footer">
        <div class="fila-one">
          <i class="fas fa-play"></i>
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="fila-two">
          <span class="new-or-not">New</span>
          <span class="recomendation">70% for you</span>
          <span class="duration">1 h 30 mn</span>
        </div>
        <div class="fila-three">
          <ul>
            <li>Love</li>
            <li>comedy</li>
            <li>patient</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pelicula">
      <img src="../../assets/img/1.png" alt="" />
      <div class="pelicula-footer">
        <div class="fila-one">
          <i class="fas fa-play"></i>
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
          <i class="fas fa-angle-down"></i>
        </div>
        <div class="fila-two">
          <span class="new-or-not">New</span>
          <span class="recomendation">70% for you</span>
          <span class="duration">1 h 30 mn</span>
        </div>
        <div class="fila-three">
          <ul>
            <li>Love</li>
            <li>comedy</li>
            <li>patient</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
