.form {
  width: 100%;
  position: relative;
  border: none !important;
}
.error-message {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  color: red !important;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}
button {
  outline: none;
  border: none;
}
.resize {
  background-size: cover;
  height: 239px;
  width: 100%;
}
.input_e_mail {
  height: 2.45em !important;
  font-family: Arial;
  font-size: 1.6rem !important;
  border-radius: none !important;
  /* padding-right: 20px !important; */
}

#try-now {
  background-color: var(--primary);
  font-size: 25px;
  color: white;
}

@media (max-width: 585px) {
  .input-group {
    position: relative;
    display: block;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
}
/* .btn {
  background: #ef7f1a !important;
  color: white !important;
  border-color: #ef7f1a !important;
  border-radius: 0.3em !important;
  font-size: 1.7rem !important;
  width: 14em;
  height: 3.3em;
}
.input_e_mail {
  height: 2.45em !important;
  font-family: Arial;
  font-size: 1.6rem !important;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
}

nav {
  line-height: 0.1em !important;
}

.authLinks.redButton {
  padding: 1.2em 2em !important;
  height: 2em !important;
  margin-top: 1em; 
}*/

@media (max-width: 500px) {
  .btn {
    background: #ef7f1a !important;
    color: white !important;
    border-color: #ef7f1a !important;
    border-radius: 0.3em !important;
    font-size: 1.7rem !important;
    width: 19em !important;
    height: 3.3em;
  }
  .input_e_mail {
    height: 2.45em !important;
    font-family: Arial;
    font-size: 1.6rem !important;
    border-radius: 0.3em 0.3em 0.3em 0.3em !important;
  }
}

@media all and (max-width: 800px) {
  .btn {
    background: #ef7f1a !important;
    color: white !important;
    border-color: #ef7f1a !important;
    border-radius: 0.3em !important;
    font-size: 1.7rem !important;
    width: 19em !important;
    height: 2em;
  }
  .input_e_mail {
    height: 2em !important;
    font-family: Arial;
    font-size: 1.6rem !important;
    margin-bottom: 0.2em;
    border-radius: 0.3em 0.3em 0.3em 0.3em !important;
  }
}

@media all and (min-width: 730px) and (max-width: 1024px) {
  .btn {
    background: #ef7f1a !important;
    color: white !important;
    border-color: #ef7f1a !important;
    border-radius: 0.3em !important;
    font-size: 1.7rem !important;
    width: 7em !important;
    height: 2.45em;
    border-radius: 0 0.3em 0.3em 0 !important;
  }
  .input_e_mail {
    height: 2.62em !important;
    font-family: Arial;
    font-size: 1.6rem !important;
    border-radius: 0.3em 0 0 0.3em !important;
  }
}

/* .container,
.container-sm,
.container-md {
  position: relative;
  top: 25%;
}

.portfolio {
  height: 100vh;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 20px;
  z-index: -1;
} */
/* 
.portfolio-box img {
  width: 100%;
  height: 400px;
  background-size: cover;
} */

/* .portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  padding: 5px;
  background-color: #ef7f1a;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 99;
  color: #fff;
} */

/* .portfolio-box .portfolio-box-caption .description {
  color: #ededed;
  font-size: 14px;
}

footer > .portfolio {
  color: #757575 !important;
}

.indigo {
  background-color: #000 !important;
}

div > ul > li > a {
  color: #757575 !important;
}

.resize_fit_center {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
} */

/* header principal other style  */
.show-case {
  position: relative;
  background-image: url(../../assets/img/bp2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  /* Safari 3.0 */
  -moz-background-size: cover;
  /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: cover;
  /* Opera 9.5 */
  width: 100%;
  height: 95vh;
}
.show-case::after {
  opacity: 0.7;
  box-shadow: inset 120px 100px 120px black;
  background-color: black;
}

.show-case .show-case-logo nav a {
  background-color: #fff;
}
.show-case > .show-case-try > .container {
  position: relative;
  top: 150px;
}

/* others style to the cards */
.allcards {
  padding: 10px;
  /* background: linear-gradient(to right top, orange,white, rgb(255, 136, 0)); */
  /* background-color: var(--fondo); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.allcards > .one-card {
  width: 240px;
  overflow: hidden;
  background-color: #fff;
  transition: ease-in-out 1s;
  border-radius: 0px;
  border: 0.5px solid rgb(218, 217, 217);
}
.allcards > .one-card:hover {
  transform: translate(10px, 5px);
  /* transform: scale(1.1); */
  z-index: 0;
}
.allcards > .one-card > .body {
  z-index: 3;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  background: rgb(218, 218, 218);
}
.allcards > .one-card > .body > h5 {
  color: #000000;
  font-weight: bold;
  text-align: left !important;
}
.allcards > .one-card > .body p {
  text-align: left !important;
  font-size: 25px;
  margin: 0 !important;
}
.allcards > .one-card > img {
  width: 100%;
  height: 200px;
  /* height: 50%; */
}

/* Terms */

.terms {
  /* background-color: var(--fondo); */
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* grid-gap: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.letsgo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--fondo); */
}
.letsgo > div {
  padding: 10px;
}
.letsgo > div input {
  padding: 10px;
  outline: none;
  border: none;
  height: 100%;
}
.letsgo > div {
  /* padding: 10px; */
  overflow: hidden;
}
.btn-login {
  height: 100%;
  outline: none;
  border: none;
  padding: 15px 15px;
  background-color: var(---primary);
  text-align: center;
  color: white;
}
@media (max-width: 630px) {
  .terms {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
  }
  .terms .term {
    width: 100%;
    margin: 0px 0px;
  }
}
.terms .term {
  width: 85%;
  overflow: hidden;
  /* background-color: #fff; */
  transition: ease-in-out 1s;
  border-radius: 3px;
  /* border: 0.5px solid rgb(218, 217, 217); */
  margin: 10px 10px;
}
.terms .term .term-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary);
  padding: 5px 8px;
  cursor: pointer;
  transition: ease-in-out 1s;
  margin-bottom: 2px;
}
.terms .term .term-header:hover {
  /* background: #000; */
  opacity: 0.8;
}
.terms .term .term-header p {
  font-size: 25px;
  text-align: center;
  /* text-shadow: 1px 2px 3px white; */
}
.terms .term .term-header span {
  margin: 0px 10px;
}
.terms .term .term-header span i {
  font-size: 30px;
  color: white;
}
.terms .term .term-content {
  display: none;
  padding: 10px;
  background-color: rgb(53, 53, 53);
  animation: irVolver 2s ease-in-out;
}
@keyframes irVolver {
  0% {
    opacity: 0;
    background: rgb(119, 119, 119);
    transform: rotate(90);
  }
  50% {
    background: rgb(82, 82, 82);
    opacity: 0.5;
    transform: rotate(90);
  }
  100% {
    background: rgb rgb(37, 37, 37);
    opacity: 1;
    transform: translate(2px 3px);
  }
}
.terms .term .term-content p {
  color: white;
  font-size: 18px;
  text-align: left;
}
/* media queries  */
@media (max-width: 430px) {
  .allcards > .one-card {
    width: 95%;
    margin: 5px;
  }
  .allcards > .one-card > img {
    width: 100%;
    height: 50%;
  }
}
