<div class="show-case">
  <header>
    <div class="show-case-logo">
      <img src="../../assets/img/makaya.png" width="150" alt="Makaya" />
    </div>
    <div class="nav-principal">
      <a class="btn-login-principal" href="/account">Sign in</a>
    </div>
  </header>
  <section class="show-case-try">
    <div class="container">
      <form class="border p-3 form" [formGroup]="browserForm" (ngSubmit)="OnSubmit()">
        <div class="input-group item ph12 md8 i-b v-middle center md-right p0 menu">
          <input type="text" class="form-control s6 input_e_mail" name="UserName" placeholder="  Type your e-mail" 
          aria-label="E-mail" aria-describedby="basic-addon2" formControlName="UserName" [class]="isValidField('UserName')"/>

          <div class="input-group-append s6">
            <button class="btn btn-outline-secondary" name="enviar" type="submit" id="try-now">
              Try now
            </button>
          </div>
          <div class="invalid-feedback">
            <span *ngIf="browserForm.get('UserName').errors?.required" style="left: 45%; position: relative;font-weight: 900;">
                this field is rquired
            </span>
            <span *ngIf="browserForm.get('UserName').errors?.pattern" style="left: 45%; position: relative;font-weight: 900;">
               Enter a valid email
            </span>
         </div>
        </div>
      </form>
    </div>
  </section>
</div>

<section class="allcards">
  <div id="card" class="one-card" *ngFor="let movie of Movies">
    <img class="" src="{{ movie.Poster }}" alt="" />
    <div class="body">
      <h5 class="title">{{ movie.Title }} - {{ movie.Year }}</h5>
      <p class="text">{{ movie.Type }}</p>
    </div>
  </div>
  <!-- </div> -->
</section>

<section class="terms">
  <div class="term">
    <div class="term-header">
      <p class="question">Why Makaya ?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
  <div class="term">
    <div class="term-header">
      <p class="question">I have to pay for the trial ?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
  <div class="term">
    <div class="term-header">
      <p class="question">How many person can connect to my account ?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
  <div class="term">
    <div class="term-header">
      <p class="question">Can i watch on Phone , smartphone , tablet TV ?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
  <div class="term">
    <div class="term-header">
      <p class="question">Why Makaya is the best app to watch Tv Online?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
  <div class="term">
    <div class="term-header">
      <p class="question">When can i cancel my subscription?</p>
      <span class="icon"> <i class="fas fa-plus-square"></i> </span>
    </div>
    <div class="term-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        nesciunt iure, atque magni nulla repellat temporibus quo provident
        repellendus aut.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
