<div class="modal-wide" id="modal-wide">
  <div class="modal-wide-content">
    <i class="fas fa-times-circle close-modal"></i>
    <div class="icones">
      <div class="">
        <button><i class="fas fa-play"></i> Play</button>
        <i class="fas fa-plus-circle"></i>
        <i class="fas fa-thumbs-up"></i>
        <i class="fas fa-thumbs-down"></i>
      </div>
      <div class="">
        <i class="fas fa-volume-mute"></i>
      </div>
    </div>
    <video src="../../assets/video/Tropical.mp4"></video>
    <div class="details">
      <div class="details-part-01">
        <div class="details-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit facilis
          fuga fugiat culpa possimus dignissimos facere excepturi provident
          voluptates illum.
        </div>

        <div class="details-right">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ullam!
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ex
          facilis vero cumque esse aperiam sunt fuga voluptate, voluptatem
          natus.
        </div>
      </div>
      <div class="details-part-02">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
        voluptates odio quidem mollitia exercitationem assumenda atque, id
        perferendis aliquid nostrum minima, inventore laborum quasi vel
        quibusdam rem. Soluta, ut! Veritatis quos alias quo similique eveniet
        illo quod vitae quasi ipsa rem consequuntur, fugiat, quae perferendis
        totam explicabo, dolorum qui quaerat! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Quae distinctio voluptatibus consequuntur
        tempore nam, nobis quidem natus rem reprehenderit amet temporibus
        aliquid delectus mollitia odit perspiciatis rerum asperiores totam?
        Perferendis, delectus molestias eius quia vitae error, hic eaque, nulla
        facilis dolore vero illo tenetur porro! Magni molestiae quaerat cum
        pariatur neque, assumenda earum praesentium iure voluptatum beatae nulla
        sapiente obcaecati doloremque explicabo corrupti architecto ratione vel
        doloribus aperiam voluptas excepturi dolorum maxime. Dolorum, laboriosam
        a quam quod rem deleniti voluptatem impedit harum similique fuga optio.
        Amet debitis magni sed vitae molestias eaque aliquam a repellat ratione,
        in dolorum cum voluptate id? Facere, est. Maxime, voluptates! Deleniti
        minus magnam dolore facilis quas fuga dicta non dolor consequatur
        placeat esse totam debitis cumque a doloremque repudiandae tempora
        explicabo, suscipit impedit perferendis deserunt quo! Veniam dolores
        aperiam doloribus quas aut est quos asperiores dignissimos. Magni
        corporis nesciunt nisi perspiciatis commodi facere nemo iste fugiat
        incidunt similique id, non repellat dicta deserunt, fuga est eligendi
        placeat atque, repellendus iure minus. Beatae pariatur obcaecati
        possimus corporis maiores fugiat earum ea, odio, expedita magni eaque
        tempore aut odit facere doloribus, consequuntur assumenda tempora enim
        voluptas molestias nobis esse neque veritatis? Quam, nam repellendus
        vero ratione perferendis eaque quidem natus sapiente, ullam unde
        voluptate tenetur at vel deserunt, tempora eos non doloribus? Commodi,
        optio perferendis rem esse facere sunt officia. Dolores odio excepturi
        nulla et eveniet ullam aspernatur eius fugit iusto voluptas sed quis
        suscipit, odit asperiores vitae magni quam itaque temporibus maxime
        soluta illo dolorem! Consequuntur sed nemo minima quo voluptatem cum,
        nulla velit mollitia eius quam cumque ducimus officiis, odit ab ullam,
        quas expedita. Minus, velit, soluta cumque earum ex ipsum nisi
        voluptatibus assumenda ipsa perspiciatis modi. Deleniti minus cum aut
        neque quae consectetur fugit, temporibus explicabo debitis ullam
        doloremque maxime pariatur libero magni praesentium voluptas rerum
        dolores. Vero numquam quo, aliquam ipsam dolore corporis tempora
        molestias. Dolorem est et quia non veritatis sunt facilis sint laborum
        ut neque consequuntur voluptate alias commodi veniam deserunt eum
        ducimus cupiditate delectus vitae, molestiae labore illum tempora
        tenetur! Aliquid, deserunt magni? Quos, odio quo? Ad hic rem labore
        eaque, magni tenetur! Magni libero, odit, aspernatur asperiores ut
        repudiandae alias suscipit dicta non debitis rerum! Aspernatur optio in
        neque blanditiis porro aliquid laboriosam ad vitae, aperiam esse
        adipisci nisi, commodi dolorum amet. Suscipit corporis consequuntur
        expedita magnam esse at, dolore sed ullam officia voluptas accusantium
        reprehenderit temporibus maxime natus rerum porro laboriosam deserunt
        vitae voluptates sunt excepturi soluta labore totam eligendi. Nihil
        incidunt eius esse ipsum ad nobis debitis laboriosam quisquam sapiente
        assumenda dolor dolores explicabo iure error amet, perferendis similique
        porro fugit. Voluptates fugit, in ab porro, eligendi praesentium modi
        adipisci, at dolor aut repudiandae minus cupiditate libero iste
        voluptatibus. Porro cum eum numquam laborum error praesentium deserunt
        nulla quisquam, sit hic? Tempore non, exercitationem quasi nesciunt
        totam omnis voluptate similique explicabo amet incidunt libero aliquam
        adipisci consectetur! Debitis eveniet distinctio beatae harum fuga iusto
        dolorem fugit molestiae voluptate ipsum? Molestias, suscipit illum.
        Ratione odio animi quibusdam ducimus?
      </div>
    </div>
  </div>
</div>

<app-menu01></app-menu01>
<!-- section  peliculas recomendadas  -->
<main>
  <div id="modal1" class="modal">
    <button
      type="button"
      class="modal-action modal-close btn-flat"
      data-dismiss="modal"
      aria-label="Close"
    >
      <i class="fas fa-arrow-circle-left"></i>
    </button>

    <div class="modal-content">
      <video
        class="option slicevideo"
        id="video-principal-modal"
        muted
        controlsList="nodownload"
      >
        <source src="../../assets/video/v00.mp4" type="video/mp4" />
        <!-- <track
          label="English subtitles"
          kind="subtitles"
          srclang="en"
          src="/static/the-web-is-always-changing.vtt"
          default=""
        /> -->
      </video>
      <div class="DelAdv">
        <div class="left-side">
          <i class="fas fa-play play-principal none" style="display: none"></i>

          <i class="fas fa-stop-circle stop-principal"></i>
          <i class="fas fa-fast-backward"></i>
          <i class="fas fa-fast-forward"></i>
          <i class="fas fa-minus"></i>
          <input
            type="range"
            id="volume"
            name="volume"
            min="0"
            max="100"
            value="100"
            step="10"
          />
          <i class="fas fa-plus"></i>
          <i class="fas fa-volume-up volume-principal"></i>
          <!-- <div><i class="fas fa-volume-slash muted-principal"></i></div> -->
        </div>
        <div class="right-side">
          <i class="fas fa-closed-captioning"></i>
          <i class="fas fa-share-alt-square"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="peliculas-recomendadas">
    <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">My List</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <div class="modal-film film-not-active">
          <div class="video">
            <video muted src="{{ movies.picture }}"></video>
          </div>
          <div class="content-film">
            <div class="icoones-film">
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
            </div>
            <div class="info-film">
              duration/recomendation/plus... Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Amet vel consequuntur aspernatur
              eligendi voluptate id, assumenda cupiditate ex saepe, aperiam
              provident fugiat, consequatur quod nihil ipsa explicabo voluptas
              est nulla! Blanditiis, sequi exercitationem? Eaque doloremque
              perspiciatis ipsa libero nam dolores nemo iste, quam possimus ad,
              corrupti amet eum soluta velit, blanditiis culpa inventore
              voluptate rem voluptas eos ipsum! Sequi similique odio sunt, vero
              quidem, culpa omnis illum exercitationem explicabo tenetur ipsum
              numquam. Voluptas molestias, ipsa aliquam magnam fugiat officiis
              aspernatur facilis quasi libero quis asperiores quas similique,
              voluptates delectus! Recusandae voluptate dolores eligendi,
              incidunt cum veniam accusantium doloribus pariatur itaque.
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item-content pelicula">
            <div class="video">
              <video>
                <source src="{{ movies.picture }}" type="video/mp4" />
              </video>
            </div>
            <!-- <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div> -->
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">My List</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <!-- <div class="product-item"> -->
        <div class="pelicula">
          <img src="../../assets/img/1.png" alt="" />
          <div class="pelicula-footer">
            <div class="fila-one">
              <i class="fas fa-play"></i>
              <i class="fas fa-plus-circle"></i>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-thumbs-down"></i>
              <i class="fas fa-angle-down"></i>
            </div>
            <div class="fila-two">
              <span class="new-or-not">New</span>
              <span class="recomendation">70% for you</span>
              <span class="duration">1h30mn</span>
            </div>
            <div class="fila-three">
              <ul>
                <li>Love</li>
                <li>comedy</li>
                <li>patient</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </ng-template>
    </p-carousel>
    <!-- <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">Last Watch</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <div class="product-item">
          <div class="product-item-content pelicula">
            <div class="video">
              <video>
                <source src="{{ movies.picture }}" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel> -->

    <!-- <div class="fila">
    <div class="contendor-titilos">
      <h3>Amor</h3>
      <div class="controles">
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
    <div class="contenedor-principal">
      <button id="flecha-izquierda" class="btn-left flecha-izquierda">
        <i class="fas fa-angle-left"></i>
      </button>
      <div class="carrousel">
        <div class="pelicula" *ngFor="let movie of Movies; let i = index">
          <div class="video">
            <video>
              <source src="{{ movie.picture }}" type="video/mp4" />
            </video>
          </div>
          <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div>
          
          <div
            class="modal fade newmodal"
            id="Modalamor{{ i }}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="videomodal">
                    <video>
                      <source src="{{ movie.picture }}" type="video/mp4" />
                    </video>
                  </div>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="flecha-derecha" class="btn-right flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div> -->
  </div>
</main>

<app-footer></app-footer>
