<div class="menu-home">
  <div class="video-principal">
    <video id="video-principal" src="{{ principal.picture }}"></video>
    <i class="fas fa-volume-up icon-video-primcipal"></i>
    <i class="fas fa-volume-slash icon-video-primcipal"></i>
  </div>
  <div class="container-menu">
    <div class="menu-home-left">
      <div class="menu-home-left-logo">
        <!-- <a href="#">MAKAYA</a> -->
        <img src="../../assets/img/makaya.png" width="40" alt="Makaya" />
      </div>
      <div class="menu-home-left-list">
        <a href="#">home</a>
        <a href="#">Programs</a>
        <a href="#">Films</a>
        <a href="#">Historial</a>
        <a href="#">My List</a>
      </div>
    </div>
    <div class="menu-home-right">
      <ul>
        <li class="item-list">
          <img src="../../assets/img/user.png" width="50" alt="Makaya" />
          <i class="fas fa-chevron-down"></i>

          <ul class="sub-menu-user">
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Plan</a></li>
            <li><a href="#">Notification</a></li>
            <li><a (click)="Logout()" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="pelicula-principal">
    <div class="infos">
      <h3 class="titulo">Interestellar</h3>
      <p class="descripcion">
        It follows the adventures of a group of explorers who make use of a
        recently discovered wormhole to overcome the limitations of manned space
        travel and overcome the immense distances that interstellar travel has.
      </p>
    </div>
    <div class="pelicula-principal-btn">
      <button
        role="button"
        style="cursor: pointer"
        data-target="modal1"
        class="boton play modal-trigger"
      >
        <i class="fas fa-play"></i>Play Movie
      </button>
      <button role="button" class="boton">
        <i class="fas fa-info-circle"></i>More information
      </button>
      <div>
        <i style="display: none" class="fas fa-play play-video-principal"></i>
        <i class="fas fa-stop stop-video-principal"></i>
      </div>
    </div>
  </div>
</div>

<main>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <button
      type="button"
      class="modal-action modal-close btn-flat"
      data-dismiss="modal"
      aria-label="Close"
    >
      <i class="fas fa-arrow-circle-left"></i>
    </button>

    <div class="modal-content">
      <video
        class="option slicevideo"
        id="video-principal-modal"
        autoplay
        loop
        controlsList="nodownload"
      >
        <source src="../../assets/video/Tropical.mp4" type="video/mp4" />
        <track
          label="English subtitles"
          kind="subtitles"
          srclang="en"
          src="/static/the-web-is-always-changing.vtt"
          default=""
        />
      </video>
      <div class="DelAdv">
        <div class="left-side">
          <i class="fas fa-play play-principal none" style="display: none"></i>

          <i class="fas fa-stop-circle stop-principal"></i>
          <i class="fas fa-fast-backward"></i>
          <i class="fas fa-fast-forward"></i>
          <i class="fas fa-volume-up volume-principal"></i>
          <!-- <div><i class="fas fa-volume-slash muted-principal"></i></div> -->
        </div>
        <div class="right-side">
          <i class="fas fa-closed-captioning"></i>
          <i class="fas fa-share-alt-square"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="peliculas-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
      <h3>Recommended Movies</h3>
      <!-- <div class="indicadores"></div> -->
    </div>

    <div class="contenedor-principal">
      <button role="button" id="flecha-izquierda" class="flecha-izquierda">
        <i class="fas fa-angle-left"></i>
      </button>

      <!-- <div class="contenedor-carousel" *ngFor="let item of Movies">
        <div class="carousel">
          <div class="pelicula">
            <video id="pelicula">
              <source src="{{ item.urlmovie }}" type="video/mp4" />
            </video>
            <video >
            <source src="{{ item.urlmovie }}" type="video/mp4" />
          </video>
            <div class="actions">
              <i class="fas fa-play"></i>
              <i class="fa fa-angle-double-down" id="wide-video"></i>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="contenedor-carousel" > -->
      <div class="carousel">
        <div class="pelicula" id="pelicula" *ngFor="let item of Movies">
          <div class="video">
            <video>
              <source src="{{ item.picture }}" type="video/mp4" />
            </video>
          </div>
          <!-- <video >
            <source src="{{ item.urlmovie }}" type="video/mp4" />
          </video> -->
          <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <button role="button" id="flecha-derecha" class="flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

    <div class="contenedor-titulo-controles">
      <h3>Romantic</h3>
      <!-- <div class="indicadores"></div> -->
    </div>
    <div class="contenedor-principal">
      <button
        role="button"
        id="flecha-izquierdaRomantic"
        class="flecha-izquierda"
      >
        <i class="fas fa-angle-left"></i>
      </button>

      <div class="contenedor-carousel Romantic">
        <div class="carousel">
          <div class="pelicula" id="pelicula" *ngFor="let item of Movies">
            <div class="video">
              <video>
                <source src="{{ item.picture }}" type="video/mp4" />
              </video>
            </div>
            <div class="actions">
              <i class="fas fa-play"></i>
              <i class="fa fa-angle-double-down" id="wide-video"></i>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
        </div>
      </div>

      <button role="button" id="flecha-derechaRomantic" class="flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

    <div class="contenedor-titulo-controles">
      <h3>Faith</h3>
      <!-- <div class="indicadores"></div> -->
    </div>
    <div class="contenedor-principal">
      <button role="button" id="flecha-izquierda" class="flecha-izquierda">
        <i class="fas fa-angle-left"></i>
      </button>

      <div class="carousel">
        <div class="pelicula" id="pelicula" *ngFor="let item of Movies">
          <div class="video">
            <video>
              <source src="{{ item.picture }}" type="video/mp4" />
            </video>
          </div>
          <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
      </div>

      <button role="button" id="flecha-derecha" class="flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

    <div class="contenedor-titulo-controles">
      <h3>Drama</h3>
      <!-- <div class="indicadores"></div> -->
    </div>
    <div class="contenedor-principal">
      <button role="button" id="flecha-izquierda" class="flecha-izquierda">
        <i class="fas fa-angle-left"></i>
      </button>

      <div class="carousel">
        <div class="pelicula" id="pelicula" *ngFor="let item of Movies">
          <div class="video">
            <video>
              <source src="{{ item.picture }}" type="video/mp4" />
            </video>
          </div>
          <!-- <video >
              <source src="{{ item.urlmovie }}" type="video/mp4" />
            </video> -->
          <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
      </div>

      <button role="button" id="flecha-derecha" class="flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div>
</main>

<app-footer></app-footer>
