<!-- <div class="div-wide">
  <div class="close-wide-video">X</div>
  <video src="../../assets/video/v02.mp4"></video>
  <div class="action-video">
    <div class="action-left">
      <button class="btn">
        <i style="margin-right: 10px" class="fa fa-play"></i>Play
      </button>
    </div>
    <div class="action-right">
      <i class="fas fa-stop-circle"></i>
    </div>
  </div>

  <div class="info-film">
    <div class="info-film-left">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab fuga dolorem
      laboriosam officiis illum ullam libero, optio numquam suscipit at
      architecto! Vero sapiente nisi doloribus tenetur aliquam numquam
      dignissimos vel perspiciatis placeat repellat officiis porro atque
      voluptas maxime ab eos odio quibusdam sequi accusamus amet cupiditate
      aspernatur deleniti, debitis corrupti? Cupiditate dicta quas, neque ullam
      enim error molestiae autem, nostrum iure rem ad perspiciatis modi quia
      impedit pariatur! Cupiditate modi deleniti assumenda nulla pariatur,
      impedit, provident rem earum aut ad praesentium quia veniam hic.
      Dignissimos culpa optio consequatur amet, placeat molestias ipsum
      consectetur velit voluptatibus magni? Excepturi rem corrupti numquam.
    </div>
    <div class="info-film-right">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam,
      saepe hic voluptatibus est, iusto magni totam culpa recusandae corrupti
      nostrum cumque iste eaque laboriosam dignissimos quasi quae temporibus
      ipsa ipsam dolores sunt possimus, aperiam error libero. Ad cum aliquam
      impedit architecto numquam placeat debitis alias rem ducimus! Optio cumque
      expedita, odio beatae corrupti asperiores accusamus veritatis consequuntur
      vitae, fuga, itaque animi culpa. Magni ratione, molestias cumque nam ab
      harum illum aut rem doloremque impedit adipisci voluptatibus minima,
      incidunt sit! Veritatis sit dolor aut praesentium incidunt magnam eligendi
      odio iste voluptatem commodi ut impedit dignissimos nemo perspiciatis
      rerum, sunt possimus?
    </div>
  </div>
</div> -->

<section class="showcase">
  <header>
    <img class="logo" src="../../assets/img/makaya.png" />
    <div class="menu-home-left-list">
      <ul>
        <li>
          <a href="#">home</a>
        </li>

        <li>
          <a href="#">Program</a>
        </li>
        <li>
          <a href="#">Film</a>
        </li>
        <li>
          <a href="#">My list</a>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <div class="icons-useful">
        <div class="search-box">
          <i id="icon-search-menu" class="fas fa-search icon-search-menu"></i>
          <form action="">
            <input
              type="text"
              class="search-film"
              id="search-film"
              placeholder="Titles,Author,Gender"
              name="search-film"
            />
          </form>
        </div>
        <div class="notifications">
          <i id="icon-notifications" class="fas fa-bell"></i>
          <div id="notifications-box" class="notifications-box">
            all notifications-box
          </div>
        </div>
      </div>
      <div class="menu-user">
        <div class="img-current-user">
          <div class="current-user">
            <img src="../../assets/img/user.png" alt="" />
            <i class="fas fa-angle-double-down"></i>
          </div>
          <div class="menu-container">
            <div class="profiles">
              <ul>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Hilaire</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Jean</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
                <li class="profil">
                  <img src="../../assets/img/user.png" alt="" />
                  <span> <a href="#"> Pradel</a></span>
                  <i class="fas fa-user-lock"></i>
                </li>
              </ul>
              <p><a href=""> Manage Profiles</a></p>
            </div>
            <hr />

            <div class="links-useful">
              <ul>
                <li>
                  <a href="#"> account</a>
                </li>
                <li>
                  <a href="#"> Help</a>
                </li>
                <li>
                  <a href="#"> Log Out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <video loop autoplay src="../../assets/video/Tropical.mp4"></video>
  <div class="overlay"></div>
  <div class="text">
    <!-- <h2>Never Stop To</h2> -->
    <h3>Film Name</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <button
      role="button"
      data-target="modal1"
      class="btn-play-principal play modal-trigger button-primary"
    >
      <i class="fas fa-play"></i>Play Movie
    </button>
    <button role="button" class="button-secondary">
      <i class="fas fa-info-circle"></i>More information
    </button>
    <div class="icones-volume-mute">
      <!-- <i class="fas fa-volume"></i> -->
      <i class="fas fa-volume-mute"></i>
      <i class="fas fa-volume-up" style="display: none"></i>
      <!-- <i class="fas fa-volume play-video-principal"></i>
      <i class="fas fa-volume-muted stop-video-principal"></i> -->
    </div>
  </div>
</section>
<div class="clear"></div>

<!-- section  peliculas recomendadas  -->
<main>
  <div id="modal1" class="modal">
    <button
      type="button"
      class="modal-action modal-close btn-flat"
      data-dismiss="modal"
      aria-label="Close"
    >
      <i class="fas fa-arrow-circle-left"></i>
    </button>

    <div class="modal-content">
      <video
        class="option slicevideo"
        id="video-principal-modal"
        muted
        controlsList="nodownload"
      >
        <source src="../../assets/video/v00.mp4" type="video/mp4" />
        <!-- <track
          label="English subtitles"
          kind="subtitles"
          srclang="en"
          src="/static/the-web-is-always-changing.vtt"
          default=""
        /> -->
      </video>
      <div class="DelAdv">
        <div class="left-side">
          <i class="fas fa-play play-principal none" style="display: none"></i>

          <i class="fas fa-stop-circle stop-principal"></i>
          <i class="fas fa-fast-backward"></i>
          <i class="fas fa-fast-forward"></i>
          <i class="fas fa-minus"></i>
          <input
            type="range"
            id="volume"
            name="volume"
            min="0"
            max="100"
            value="100"
            step="10"
          />
          <i class="fas fa-plus"></i>
          <i class="fas fa-volume-up volume-principal"></i>
          <!-- <div><i class="fas fa-volume-slash muted-principal"></i></div> -->
        </div>
        <div class="right-side">
          <i class="fas fa-closed-captioning"></i>
          <i class="fas fa-share-alt-square"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="peliculas-recomendadas">
    <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">My List</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <div class="modal-film film-not-active">
          <div class="video">
            <video muted src="{{ movies.picture }}"></video>
          </div>
          <div class="content-film">
            <div class="icoones-film">
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
            </div>
            <div class="info-film">
              duration/recomendation/plus... Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Amet vel consequuntur aspernatur
              eligendi voluptate id, assumenda cupiditate ex saepe, aperiam
              provident fugiat, consequatur quod nihil ipsa explicabo voluptas
              est nulla! Blanditiis, sequi exercitationem? Eaque doloremque
              perspiciatis ipsa libero nam dolores nemo iste, quam possimus ad,
              corrupti amet eum soluta velit, blanditiis culpa inventore
              voluptate rem voluptas eos ipsum! Sequi similique odio sunt, vero
              quidem, culpa omnis illum exercitationem explicabo tenetur ipsum
              numquam. Voluptas molestias, ipsa aliquam magnam fugiat officiis
              aspernatur facilis quasi libero quis asperiores quas similique,
              voluptates delectus! Recusandae voluptate dolores eligendi,
              incidunt cum veniam accusantium doloribus pariatur itaque.
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item-content pelicula">
            <div class="video">
              <video>
                <source src="{{ movies.picture }}" type="video/mp4" />
              </video>
            </div>
            <!-- <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div> -->
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">My List</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <div class="modal-film film-not-active">
          <div class="video">
            <video src="{{ movies.picture }}"></video>
          </div>
          <div class="content-film">
            <div class="icoones-film">
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
              <i class="fas fa-user"></i>
            </div>
            <div class="info-film">duration/recomendation/plus...</div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item-content pelicula">
            <div class="video">
              <video>
                <source src="{{ movies.picture }}" type="video/mp4" />
              </video>
            </div>
            <!-- <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div> -->
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <!-- <p-carousel
      [value]="Movies"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="false"
    >
      <ng-template pTemplate="header">
        <h5 class="title-section">Last Watch</h5>
      </ng-template>
      <ng-template let-movies pTemplate="item">
        <div class="product-item">
          <div class="product-item-content pelicula">
            <div class="video">
              <video>
                <source src="{{ movies.picture }}" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel> -->

    <!-- <div class="fila">
    <div class="contendor-titilos">
      <h3>Amor</h3>
      <div class="controles">
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
    <div class="contenedor-principal">
      <button id="flecha-izquierda" class="btn-left flecha-izquierda">
        <i class="fas fa-angle-left"></i>
      </button>
      <div class="carrousel">
        <div class="pelicula" *ngFor="let movie of Movies; let i = index">
          <div class="video">
            <video>
              <source src="{{ movie.picture }}" type="video/mp4" />
            </video>
          </div>
          <div class="actions">
            <i class="fas fa-play"></i>
            <i class="fa fa-angle-double-down" id="wide-video"></i>
            <i class="fas fa-plus-circle"></i>
          </div>
          
          <div
            class="modal fade newmodal"
            id="Modalamor{{ i }}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="videomodal">
                    <video>
                      <source src="{{ movie.picture }}" type="video/mp4" />
                    </video>
                  </div>
                </div>
                <div class="modal-footer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="flecha-derecha" class="btn-right flecha-derecha">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </div> -->
  </div>
</main>

<app-footer></app-footer>
