.container-login {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../../assets/img/backdrop.jpg) no-repeat center;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 30%;
  /* border-radius: 3px; */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  padding: 5px;
}
.form h1 {
  color: white;
  text-transform: capitalize;
  margin: 10px 0px 10px 0px;
  width: 90%;
  border-bottom: 1px solid white;
  padding: 10px 0px 15px 0px;
}
.form .form-group {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 30px;
  position: relative;
}
.form .form-group label {
  position: absolute;
  bottom: 7px;
  color: black !important;
  margin-left: 15px !important;
  font-family: serif;
  font-size: 20px;
}

.form .form-group input {
  padding: 30px 15px;
  border-radius: 3px !important;
  background-color: #fff !important;
  transition: all 1s;
}
#password:focus ~ label,
#password:valid ~ label,
#email:active ~ label,
#email:valid ~ label,
#email:focus ~ label {
  transform: translateY(-20px);
  font-size: 13px;
}

.regOption {
  margin-bottom: 1em;
}

#formulario > .login-signup-now {
  /* background-color: rgba(0, 0, 0.6); */
  width: 90%;
  padding: 10px;
  color: white;
  margin-top: 10px;
}
#formulario > .login-signup-now > .subscribe {
  text-decoration: underline;
  margin-left: 10px;
  color: white !important;
  font-size: 25px !important;
}
.btn-login {
  background: var(--primary);
  transition: 1s;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 10px 10px;
  width: auto;
  font-size: 25px;
  /* font-weight: bold; */
  text-transform: capitalize;
  width: 90%;
  border-radius: 4px;
  margin: 5px 0px 5px 0px;
}
.btn-login:hover {
  background-color: #d67d2f;
  border-radius: 50px !important;
}

@media (max-width: 800px) {
  .form {
    width: 90%;
    height: auto;
    background-color: #fff;
  }
}
@media (max-width: 400px) {
  .form {
    width: 95%;
    margin: 0px auto;
    height: auto;
    /* background-color: #fff; */
  }
}
.valid {
  font-size: initial !important;
  transform: translateY(-20px) !important;
  /* color: #d67d2f !important; */
}
.error_mail,
.error_password {
  color: #ef0000 !important;
  padding: 5px;
  text-align: center;
  /* width: 100%; */
  display: none;
  justify-content: center;
  background: white;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid red;
}
.disabledBnt {
  opacity: 0.6;
  background-color: rgb(177, 177, 177);
  cursor: not-allowed;
}
