<div class="container-login">
  <header>
    <div
      class="show-case-logo"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <img src="../../assets/img/makaya.png" width="" alt="Makaya" />
      <!-- <label>Makaya</label> -->
    </div>
  </header>
  <div class="abs-center">
    <form
      id="formulario"
      #userRegistrationForm="ngForm"
      class="form"
      (ngSubmit)="OnSubmit(UserName.value, Password.value)"
    >
      <h1 class="sign-in">Sign in</h1>
      <div class="form-group">
        <input
          type="email"
          #UserName
          name="UserName"
          [(ngModel)]="user.UserName"
          id="email"
          required
          class="form-control email-login"
          (click)="HideMessage('error_mail')"
        />
        <label class="label-email" for="email">Email</label>
        <span class="red-text error_mail"></span>
      </div>
      <div class="form-group">
        <input
          type="password"
          #Password
          name="PasswordHash"
          [(ngModel)]="user.PasswordHash"
          required
          id="password"
          class="form-control password-login"
          (click)="HideMessage('error_password')"
        />
        <label for="password">Password</label>
        <span class="red-text error_password"></span>
      </div>

      <button type="submit" id="btn-login" class="btn-login">Sign In</button>
      <div class="login-signup-now" data-uia="login-signup-now">
        First time on SkyCo ?
        <a class="subscribe" id="subscribe" href="/">Subscribe</a>.
      </div>
    </form>
  </div>
</div>
