<!-- Modal -->
<div class="modal-plan" id="modal-plan">
  <div class="overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Plan</h5>
        <button type="button" class="btn-close close-modal">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="planForm">
          <div class="form-group">
            <label for="type-plan">Name</label>
            <input
              class="form-control"
              type="text"
              name="TypePlan"
              id="type-plan"
              formControlName="TypePlan"
              [class]="isValidField('TypePlan')"
            />
            <div class="invalid-feedback">
              <span *ngIf="planForm.get('TypePlan').errors?.required">
                this field is rquired
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              name="Description"
              formControlName="Description"
              id="description"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              class="form-control"
              type="number"
              name="Price"
              id="price"
              formControlName="Price"
              [class]="isValidField('Price')"
            />
            <div class="invalid-feedback">
              <span *ngIf="planForm.get('Price').errors?.required">
                this field is rquired
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="product">Product</label>
            <select
              class="form-control"
              name="idProduct"
              id="products"
              formControlName="idProduct"
              [class]="isValidField('idProduct')"
            >
              <option disabled selected value="">__select a product__</option>
              <option
                value="{{ product.idProduct }}"
                *ngFor="let product of products"
              >
                {{ product.name }}
              </option>
            </select>
            <div class="invalid-feedback">
              <span *ngIf="planForm.get('idProduct').errors?.required">
                Select a product
              </span>
            </div>
          </div>
          <button
            type="button"
            *ngIf="iscreated"
            class="btn btn-primary"
            (click)="CreatePlan()"
          >
            Add Plan
          </button>
          <button
            type="button"
            *ngIf="!iscreated"
            class="btn btn-primary"
            (click)="UpdatePlan()"
          >
            Update Plan
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Add Plan</button>
      </div> -->
    </div>
  </div>
</div>

<!-- modal plan delete -->
<div class="modal-plan-delete" id="modal-plan-delete">
  <div class="overlay-delete">
    <div class="modal-content-delete">
      <div class="modal-header">
        <h5 class="modal-title">Delete Plan</h5>
        <button type="button" class="btn-close close-modal">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body-delete">
        <form action="">
          <div class="form-group">
            <label for="type-plan">Motive</label>
            <input class="form-control" type="text" name="motive" id="motive" />
          </div>
          <button type="button" class="btn btn-primary">Delete Plan</button>
          <!-- <button type="button" *ngIf="!iscreated" class="btn btn-primary" (click)="UpdatePlan()">Update Plan</button> -->
        </form>
      </div>
    </div>
  </div>
</div>

<section class="header-plan">
  <header>
    <img class="logo" src="../../assets/img/makaya.png" />
    <div class="menu-home-left-list">2</div>
    <div class="toggle">3</div>
  </header>
</section>
<section class="plan-content">
  <div class="btn-add-plan-box">
    <button class="btn btn-primary btn-add-plan">add plan</button>
  </div>
  <div class="plan-table">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TYPE PLAN</th>
          <th scope="col">PRODUCT</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of plans">
          <th>{{ plan.PlanId }}</th>
          <td>{{ plan.TypePlan }}</td>
          <td>{{ plan.Products.name }}</td>
          <td class="action">
            <i class="fas fa-pen-square" (click)="UpdateModal(plan)"></i>
            <i class="fas fa-trash delete-modal" (click)="DeletePlan(plan)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
